[user]
    name = longyu.huang
    email = longyu.huang2014@gmail.com

[core]
    editor = vim
[color]
    diff = auto
    branch = auto
    status = auto
    ui =auto
[alias]
    st = status
    df = diff
    pr = pull --rebase
